html, body{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    padding: 20px 0;
    background-color: #ffc135;
}
.header__container{
    display: flex;
    justify-content: space-between;

}
.header__delivery{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.delivery__icon{
    margin-right: 15px;
}
.delivery__information{
    font-size: 17px;
    line-height: 71px;
    color: #3d2514;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: right;
}
.header__links{
    display: flex;
}
.header__link-text{
    font-size: 21px;
    letter-spacing: 4px;
    color: #3d2514;
    font-weight: 700;
    text-decoration: none;
    font-family: "Bebas Neue";
}
.header__link-item{
    margin-right: 15px;
}
.header__link-item:last-child{
    margin-right: 0;
}
.section__hero{
    height: 450px;
    background-color: #ffc135;
}
.hero__container{
    display: flex;
    justify-content: space-between;

}
.hero__text{
    margin-top: 70px;
}
.hero__text-primary{
    margin: 40px 0;
    font-size: 114px;
    line-height: 62px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
    text-transform: uppercase;

}
.hero__text-secondary{
    text-transform: uppercase;
    font-size: 56px;
    line-height: 62px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}
.hero__text-tertiary{
    font-size: 24px;
    line-height: 33px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Bebas Neue";
    padding: 10px;
    border: dashed #3d2514;
    width: fit-content;
}
.hero__img img{
    width: 500px;
    height: auto;
}
.section{
    margin-bottom: 50px;
}
.promo__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 100px;
}
.banner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.banner__content{
    padding:20px 0 0 40px;
}
.banner__title{
    font-size: 25px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-decoration: none;
}
.banner__text{
    line-height: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
    text-decoration: none;
    font-size: 36px;
}
.banner__lg {
    height: 400px;
    background-image: url('../img/burger-group-2.png');
}

.banner__sm{
    height: 180px;
}
.banner__sm--1{
    background-image: url('../img/burger-2-group-2.png');
    margin-bottom: 40px;
}
.banner__sm--2{
    background-image: url('../img/burger-3-group-2.png');
}
.section__promo-cta{
    text-align: center;
    margin: 40px;
}
.btn{
    text-transform: uppercase;
    text-decoration: none;
}
.btn__secondary{
    padding: 10px 20px;
    background-color: #ffc045;
    font-size: 25px;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";

}
.section__products-text{
    text-align: center;
    margin-bottom: 40px;
}
.section__title-primary{
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 38px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
    text-transform: uppercase;
}
.section__title-secondary{
    font-size: 17px;
    line-height: 29px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    margin-bottom: 100px;
}
.product__desc{
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 21px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Montserrat";
}
.product__title{
    margin: 20px 0;
    font-size: 38px;
    line-height: 38px;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
}
.btn__primary{
    font-size: 17px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Alfa Slab One";
    padding: 10px 20px;
    background-color: #bf2222;

}
.btn__submit{
    padding: 0;
    width: 260px;
    border: none;
}
.product__buy{
    text-align: center;
}

.product__image img{
    width: 100%;
}
.events__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}
.events__content{
    margin-right: 40px;
}
.events__title-secondary{
    font-size: 29px;
    letter-spacing: 2px;
    line-height: 46px;
    color: #3d3d3d;
    font-weight: 700;
    font-family: "Bebas Neue";
}
.events__title-primary{
    font-size: 42px;
    line-height: 46px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
}
.events__text{
    font-size: 21px;
    line-height: 33px;
    color: #3d3d3d;
    font-weight: 400;
    font-family: "Montserrat";
}

.events__img img{
    width: 100%;
    height: auto;
}
.section__reservation{
    padding: 120px 0;
    background-image: url('../img/background-4.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    

}
.reservation__title{
    font-size: 29px;
    letter-spacing: 2px;
    line-height: 46px;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
}
.reservation__subtitle{
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 46px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
    text-transform: uppercase;
    margin-bottom: 50px;
}
.footer__text{
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}
.section__text{
    text-align: center;
}
.section__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input__primary{
    width: 200px;
    padding: 15px 30px;
    background-color: #ffc135;
    border: none;
    margin-right: 15px;
}
.input__primary::placeholder{
    text-transform: uppercase;
}
.form__group{
    display: flex;
    margin-bottom: 30px;
}
.footer{
    padding-top: 70px;
    background-image: url('../img/footer-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer__top{
    margin-bottom: 40px;
}
.footer__middle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-bottom: 70px;
}
.footer__contact{
    display: flex;
    flex-direction: column;
   padding-left: 100px;
    
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer__social-container{
    display: flex;
}
.contact__container{
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
}
.contact__icon{
    margin-right: 15px;
}
.contact__text{
    font-size: 21px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Bebas Neue";
}
.footer__copyright{
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
}
.social__link{
    padding:5px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.footer__social{
    margin-right: 15px;
}
@media screen and (max-width: 1200px){
    .container{
        max-width: 976px;
    }
    .hero__img img{
        width: 450px;
    }
}
@media screen and (max-width: 980px){
    .container{
        max-width: 768px;
    }
}
@media screen and (max-width: 770px){
    .container{
        width: auto;
        padding: 0 20px;
    }
    .hero__text-tertiary{
        font-size: 20px;
    }
    .hero__text-primary{
        font-size: 60px;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 40px;
    }
}
@media screen and (max-width: 576px){
    .products{
        grid-template-columns: 1fr;
    }

    .hero__text-primary{
        font-size: 30px;
    }
    .hero__text-secondary{
        font-size: 18px;
    }
    .hero__img img{
        width: 200px;
    }
    .header__container{
        flex-direction: column;
    }
    .footer__middle{
        grid-template-columns: 1fr;
    }
    .footer__contact{
        padding-left: 0;
    }
    .footer__bottom{
        flex-direction: column-reverse;

    }
    .input__primary{
        margin-bottom: 20px;
    }
    .footer__copyright{
        margin: 20px 0;
    }
    .form__group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .reservation__title{
        font-size: 24px;
    }
    .reservation__subtitle{
        font-size: 36px;
    }
    .events__container{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .section__title-primary{
        font-size: 30px;
    }
    .promo__container{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .banner__lg{
        height: 180px;
    }
    .banner__sm--1{
        margin-bottom: 20px;
    }
    .header__link-text{
        font-size: 16px;
    }
    .header__delivery{
        display: none;
    }
    .header__right{
        margin-top: 20px;
    }
    .hero__text{
        margin-top: 0;
    }
    .hero__text-tertiary{
        font-size: 16px;
        line-height: 1;
    }
    .hero__text-primary {
        margin: 15px 0;
        line-height: 1.2;
    }
    .hero__text-secondary{
        line-height: 1;

    }
    .section__hero{
        height: auto;
    }
}